body, html {
    background-image: url("../img/seamless-fast-food-pattern-1330.png");

}

img {
    max-height: 300px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h3 {
    font-family: 'Luckiest Guy', cursive;
    
}